body{
    background-image: url(carda3645.png);
    background-position: center;
    background-size: cover;
    font-size: x-large;
    color: rgb(253, 251, 255);
    text-align: center;
    margin: 0;

}
ul{
    list-style: none;
}
    
h1{
    margin-top: 95px;
}
strong{
    color: rgb(250, 193, 38);

}
ul{
    font-size: 20px;
}